
body{
    font-family: 'Antonio', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 750px;
}
h1{
    font-size: 80px;
}
#nav-align{
    
    text-align: right;
    padding-right: 70px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}ul li a:hover{
    text-decoration: none;
    color: orange;
   font-weight:600;
 

}
.upper-half-text
{
    float: left;
    padding: 10% 0% 5% 10%;
    width: 40%;
   
}
p{
    font-family: 'Poppins', sans-serif;
}
#para-font-size{
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 20px;
}
#blue-color{
    color: rgb(29, 29, 82);
}
#orange-color
{
    color: rgb(253, 119, 95);
}
#red-color{
    color:rgb(236, 70, 70)
}
.hire-dsn{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:20px 60px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
   
}
.hire-dsn:hover{
    color: black;
    font-weight: 600;
}
.upper-half-img{
    float: left;
    padding: 10% 10% 5% 0%;
    width: 40%;
}
.upper-half-img-dsn{
    width: 100%;
}
.middle-half-img{
    float: left;
    padding: 0% 0% 5% 10%;
    width: 40%;
}
.middle-half-img-dsn{
    width: 80%;
}
#h2-font{
    font-size: 50px;
}
.middle-half-text{
    float: left;
    width: 40%;
    padding-left:100px;
}
#middle-para-font{
    font-family: 'Poppins',sans-serif;
    padding:80px 100px 80px 0px;
}
.download-btn
{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:20px 40px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.download-btn:hover{
    color: black;
    font-weight: bold;
}
.bg-color{
    background-color: whitesmoke;
}
#h2-font-two{
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
#padding
{
    padding-left: 10%;
}
.latest-project-img{
    width: 25%;
    display: inline-block;
    border: 12px solid white;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 20px rgb(211, 206, 206);
    text-align:center ;
}
.latest-project-img img{
    width: 100%;

}
.padding2{
padding-top: 2%;
padding-bottom: 2%;
}
.lower-img{
    width: 60%;
    padding-top: 2%;
    padding-left: 20%; 
    
    position: relative;
}
.lower-img img{
    width: 100%;
     
    
   
   
}
.lower-img-text{
    position:absolute;
    top: 35%;
    left: 30%;
    color: white;
    
}
.lower-img-anchor{
    position:absolute;
    top: 40%;
    left: 80%;
    
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:20px 40px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}
.lower-img-anchor:hover{
    color: black;
    font-weight: bold;
}
#inq-text{
    font-size:60px ;
    font-family: 'Poppins', sans-serif;
}

.link-img{
  padding-top: 200px;
  
  text-align: center;
}
#h3-font{
    color: gray;
}


.link-img img{
    width: 5%;
}
#email-font{
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    color:rgb(52, 52, 68);
}
.img-pad{
    padding-left: 20px;
}